In [1]:
library(tidyverse)
library(data.table)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘data.table’


The following objects are masked from ‘package:lubridate’:

    hour, isoweek, mday, minute, month, quarter, second, wday, week,
    yday, year


The following objects are masked from ‘package:dplyr’:

    between, first, last


The following object is masked from ‘package:purrr’:

    transpose

In [2]:
adult_url <- "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
adult_data <- fread(adult_url, header = FALSE, sep = ",", na.strings = "?")

In [3]:
head(adult_data)

  V1 V2               V3     V4        V5 V6                 V7
1 39 State-gov         77516 Bachelors 13 Never-married      Adm-clerical
2 50 Self-emp-not-inc  83311 Bachelors 13 Married-civ-spouse Exec-managerial
3 38 Private          215646 HS-grad    9 Divorced           Handlers-cleaners
4 53 Private          234721 11th       7 Married-civ-spouse Handlers-cleaners
5 28 Private          338409 Bachelors 13 Married-civ-spouse Prof-specialty
6 37 Private          284582 Masters   14 Married-civ-spouse Exec-managerial
  V8            V9    V10    V11  V12 V13 V14           V15
1 Not-in-family White Male   2174 0   40  United-States <=50K
2 Husband       White Male      0 0   13  United-States <=50K
3 Not-in-family White Male      0 0   40  United-States <=50K
4 Husband       Black Male      0 0   40  United-States <=50K
5 Wife          Black Female    0 0   40  Cuba          <=50K
6 Wife          White Female    0 0   40  United-States <=50K

In [4]:
col_names <- c("age", "workclass", "fnlwgt", "education", "education_num", "marital_status", 
               "occupation", "relationship", "race", "sex", "capital_gain", "capital_loss", 
               "hours_per_week", "native_country", "income")
setnames(adult_data, col_names)

## Quantifier {}

It specifies that the preceding character ("gov") must appear exactly once.

In [5]:
gov_jobs <- adult_data %>%
  filter(str_detect(workclass, "gov{1}"))
head(gov_jobs)

  age workclass   fnlwgt education    education_num marital_status
1 39  State-gov    77516 Bachelors    13            Never-married
2 30  State-gov   141297 Bachelors    13            Married-civ-spouse
3 35  Federal-gov  76845 9th           5            Married-civ-spouse
4 56  Local-gov   216851 Bachelors    13            Married-civ-spouse
5 23  Local-gov   190709 Assoc-acdm   12            Never-married
6 30  Federal-gov  59951 Some-college 10            Married-civ-spouse
  occupation      relationship  race               sex  capital_gain
1 Adm-clerical    Not-in-family White              Male 2174
2 Prof-specialty  Husband       Asian-Pac-Islander Male    0
3 Farming-fishing Husband       Black              Male    0
4 Tech-support    Husband       White              Male    0
5 Protective-serv Not-in-family White              Male    0
6 Adm-clerical    Own-child     White              Male    0
  capital_loss hours_per_week native_country income
1 0            40             United-States  <=50K
2 0            40             India          >50K
3 0            40             United-States  <=50K
4 0            40             United-States  >50K
5 0            52             United-States  <=50K
6 0            40             United-States  <=50K

## Quantifier +

It specifies that the preceding character ("gov") must appear at least once.

In [6]:
gov_jobs1 <- adult_data %>%
  filter(str_detect(workclass, "gov+"))
head(gov_jobs1)

  age workclass   fnlwgt education    education_num marital_status
1 39  State-gov    77516 Bachelors    13            Never-married
2 30  State-gov   141297 Bachelors    13            Married-civ-spouse
3 35  Federal-gov  76845 9th           5            Married-civ-spouse
4 56  Local-gov   216851 Bachelors    13            Married-civ-spouse
5 23  Local-gov   190709 Assoc-acdm   12            Never-married
6 30  Federal-gov  59951 Some-college 10            Married-civ-spouse
  occupation      relationship  race               sex  capital_gain
1 Adm-clerical    Not-in-family White              Male 2174
2 Prof-specialty  Husband       Asian-Pac-Islander Male    0
3 Farming-fishing Husband       Black              Male    0
4 Tech-support    Husband       White              Male    0
5 Protective-serv Not-in-family White              Male    0
6 Adm-clerical    Own-child     White              Male    0
  capital_loss hours_per_week native_country income
1 0            40             United-States  <=50K
2 0            40             India          >50K
3 0            40             United-States  <=50K
4 0            40             United-States  >50K
5 0            52             United-States  <=50K
6 0            40             United-States  <=50K

## Quantifier *

It means "zero or more occurrences" of the preceding character ("gov").

In [7]:
gov_jobs2 <- adult_data %>%
  filter(str_detect(workclass, "gov*"))
head(gov_jobs2)

  age workclass   fnlwgt education    education_num marital_status
1 39  State-gov    77516 Bachelors    13            Never-married
2 30  State-gov   141297 Bachelors    13            Married-civ-spouse
3 35  Federal-gov  76845 9th           5            Married-civ-spouse
4 56  Local-gov   216851 Bachelors    13            Married-civ-spouse
5 23  Local-gov   190709 Assoc-acdm   12            Never-married
6 30  Federal-gov  59951 Some-college 10            Married-civ-spouse
  occupation      relationship  race               sex  capital_gain
1 Adm-clerical    Not-in-family White              Male 2174
2 Prof-specialty  Husband       Asian-Pac-Islander Male    0
3 Farming-fishing Husband       Black              Male    0
4 Tech-support    Husband       White              Male    0
5 Protective-serv Not-in-family White              Male    0
6 Adm-clerical    Own-child     White              Male    0
  capital_loss hours_per_week native_country income
1 0            40             United-States  <=50K
2 0            40             India          >50K
3 0            40             United-States  <=50K
4 0            40             United-States  >50K
5 0            52             United-States  <=50K
6 0            40             United-States  <=50K

## Quantifier ?

It means "zero or one occurrence" of the preceding character ("gov").

In [8]:
gov_jobs2 <- adult_data %>%
  filter(str_detect(workclass, "gov?"))
head(gov_jobs2)

  age workclass   fnlwgt education    education_num marital_status
1 39  State-gov    77516 Bachelors    13            Never-married
2 30  State-gov   141297 Bachelors    13            Married-civ-spouse
3 35  Federal-gov  76845 9th           5            Married-civ-spouse
4 56  Local-gov   216851 Bachelors    13            Married-civ-spouse
5 23  Local-gov   190709 Assoc-acdm   12            Never-married
6 30  Federal-gov  59951 Some-college 10            Married-civ-spouse
  occupation      relationship  race               sex  capital_gain
1 Adm-clerical    Not-in-family White              Male 2174
2 Prof-specialty  Husband       Asian-Pac-Islander Male    0
3 Farming-fishing Husband       Black              Male    0
4 Tech-support    Husband       White              Male    0
5 Protective-serv Not-in-family White              Male    0
6 Adm-clerical    Own-child     White              Male    0
  capital_loss hours_per_week native_country income
1 0            40             United-States  <=50K
2 0            40             India          >50K
3 0            40             United-States  <=50K
4 0            40             United-States  >50K
5 0            52             United-States  <=50K
6 0            40             United-States  <=50K

## Qualifier .

It replaces any single character between "mar" and "ied" with "ried" in marital_status.

In [9]:
marrital_stat <- adult_data %>%
  mutate(marital_status = str_replace_all(marital_status, "mar.ied", "married"))
head(marrital_stat)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours_per_week native_country income
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

## Qualifier w

It extracts rows where education contains any word character followed by "school"

In [10]:
education <- adult_data %>% filter(str_detect(education, "\\wschool"))
head(education)

  age workclass fnlwgt education education_num marital_status
1 53  Local-gov 140359 Preschool 1             Never-married
2 51  Local-gov 241843 Preschool 1             Married-civ-spouse
3 71  Private   235079 Preschool 1             Widowed
4 31  Private   452405 Preschool 1             Never-married
5 33  Private   239781 Preschool 1             Married-civ-spouse
6 39  NA        362685 Preschool 1             Widowed
  occupation        relationship   race  sex    capital_gain capital_loss
1 Machine-op-inspct Not-in-family  White Female 0            0
2 Other-service     Husband        White Male   0            0
3 Craft-repair      Unmarried      Black Male   0            0
4 Other-service     Other-relative White Female 0            0
5 Farming-fishing   Husband        White Male   0            0
6 NA                Not-in-family  White Female 0            0
  hours_per_week native_country income
1 35             United-States  <=50K
2 40             United-States  <=50K
3 10             United-States  <=50K
4 35             Mexico         <=50K
5 40             Mexico         <=50K
6 20             El-Salvador    <=50K

## Qualifier d

It detects rows where hours_per_week includes one or more digits

In [11]:
education1 <- adult_data %>% filter(str_detect(education, "\\d+"))
head(education)

  age workclass fnlwgt education education_num marital_status
1 53  Local-gov 140359 Preschool 1             Never-married
2 51  Local-gov 241843 Preschool 1             Married-civ-spouse
3 71  Private   235079 Preschool 1             Widowed
4 31  Private   452405 Preschool 1             Never-married
5 33  Private   239781 Preschool 1             Married-civ-spouse
6 39  NA        362685 Preschool 1             Widowed
  occupation        relationship   race  sex    capital_gain capital_loss
1 Machine-op-inspct Not-in-family  White Female 0            0
2 Other-service     Husband        White Male   0            0
3 Craft-repair      Unmarried      Black Male   0            0
4 Other-service     Other-relative White Female 0            0
5 Farming-fishing   Husband        White Male   0            0
6 NA                Not-in-family  White Female 0            0
  hours_per_week native_country income
1 35             United-States  <=50K
2 40             United-States  <=50K
3 10             United-States  <=50K
4 35             Mexico         <=50K
5 40             Mexico         <=50K
6 20             El-Salvador    <=50K

## Qualifier s

It replaces multiple whitespace characters in native_country with a single space

In [12]:
native_country <- adult_data %>%
  mutate(native_country = str_replace_all(native_country, "\\s+", " "))
head(native_country)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours_per_week native_country income
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

## Included character set defined inside []

It extracts rows where sex is either "M" or "F," filtering the dataset to include only male or female entries.

In [13]:
male_or_female <- adult_data %>%
  filter(str_detect(sex, "[MF]"))
head(male_or_female)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours_per_week native_country income
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

## Excluded character set defined inside [^]

It extracts rows where workclass does not contain any digits

In [14]:
no_digits_workclass <- adult_data %>%
  filter(str_detect(workclass, "[^\\d]+"))
head(no_digits_workclass)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours_per_week native_country income
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

## ^ anchor

It extracts rows where education starts with "B," filtering for educational levels that begin with this letter, such as "Bachelors."

In [15]:
bachelor_education <- adult_data %>%
  filter(str_detect(education, "^B"))
head(bachelor_education)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 28  Private          338409 Bachelors 13            Married-civ-spouse
4 42  Private          159449 Bachelors 13            Married-civ-spouse
5 30  State-gov        141297 Bachelors 13            Married-civ-spouse
6 23  Private          122272 Bachelors 13            Never-married
  occupation      relationship  race               sex    capital_gain
1 Adm-clerical    Not-in-family White              Male   2174
2 Exec-managerial Husband       White              Male      0
3 Prof-specialty  Wife          Black              Female    0
4 Exec-managerial Husband       White              Male   5178
5 Prof-specialty  Husband       Asian-Pac-Islander Male      0
6 Adm-clerical    Own-child     White              Female    0
  capital_loss hours_per_week native_country income
1 0            40             United-States  <=50K
2 0            13             United-States  <=50K
3 0            40             Cuba           <=50K
4 0            40             United-States  >50K
5 0            40             India          >50K
6 0            30             United-States  <=50K

## $ anchor

It extracts rows where marital_status ends with "married"

In [16]:
married_status <- adult_data %>%
  filter(str_detect(marital_status, "married$"))
head(married_status)

  age workclass        fnlwgt education  education_num marital_status
1 39  State-gov         77516 Bachelors  13            Never-married
2 31  Private           45781 Masters    14            Never-married
3 23  Private          122272 Bachelors  13            Never-married
4 32  Private          205019 Assoc-acdm 12            Never-married
5 25  Self-emp-not-inc 176756 HS-grad     9            Never-married
6 32  Private          186824 HS-grad     9            Never-married
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male    2174        0
2 Prof-specialty    Not-in-family White Female 14084        0
3 Adm-clerical      Own-child     White Female     0        0
4 Sales             Not-in-family Black Male       0        0
5 Farming-fishing   Own-child     White Male       0        0
6 Machine-op-inspct Unmarried     White Male       0        0
  hours_per_week native_country income
1 40             United-States  <=50K
2 50             United-States  >50K
3 30             United-States  <=50K
4 50             United-States  <=50K
5 35             United-States  <=50K
6 40             United-States  <=50K

## | alternation

It extracts rows where race is either "White" or "Black"

In [17]:
white_or_black <- adult_data %>%
  filter(str_detect(race, "White|Black"))
head(white_or_black)

  age workclass        fnlwgt education education_num marital_status
1 39  State-gov         77516 Bachelors 13            Never-married
2 50  Self-emp-not-inc  83311 Bachelors 13            Married-civ-spouse
3 38  Private          215646 HS-grad    9            Divorced
4 53  Private          234721 11th       7            Married-civ-spouse
5 28  Private          338409 Bachelors 13            Married-civ-spouse
6 37  Private          284582 Masters   14            Married-civ-spouse
  occupation        relationship  race  sex    capital_gain capital_loss
1 Adm-clerical      Not-in-family White Male   2174         0
2 Exec-managerial   Husband       White Male      0         0
3 Handlers-cleaners Not-in-family White Male      0         0
4 Handlers-cleaners Husband       Black Male      0         0
5 Prof-specialty    Wife          Black Female    0         0
6 Exec-managerial   Wife          White Female    0         0
  hours_per_week native_country income
1 40             United-States  <=50K
2 13             United-States  <=50K
3 40             United-States  <=50K
4 40             United-States  <=50K
5 40             Cuba           <=50K
6 40             United-States  <=50K

## ?<= positive lookbehind

It extracts rows where native_country contains "United" followed by any country name

In [18]:
united_countries <- adult_data %>%
  filter(str_detect(native_country, "(?<=United)\\s\\w+"))
head(united_countries)

     age workclass fnlwgt education education_num marital_status occupation
     relationship race sex capital_gain capital_loss hours_per_week
     native_country income

## ?= positive look ahead

It extracts rows where native_country is followed by "States,"

In [19]:
usa_states <- adult_data %>%
  filter(str_detect(native_country, "United(?= States)"))
head(usa_states)

     age workclass fnlwgt education education_num marital_status occupation
     relationship race sex capital_gain capital_loss hours_per_week
     native_country income